        @media (min-width: 480px) {
                    
        }
        @media (min-width: 768px) {    
    
        }
        @media (min-width: 1024px) {
            
        }

        #grid{
            display:grid;
            grid-template-columns: 1fr 1fr 1fr;
        }
        .upmenu{
                position: relative;
        }
                
        
        .downmenu{
                opacity:0;
                visibility: hidden;
                position:absolute;
                list-style: none;
                text-align: center;
                margin-top: 15px;
                padding: 0px;
                width: 100%;
                background-color: aliceblue;
                max-height:0;
                transition : .2s ease-in-out;
                transform : translateY (-20px);
        }
        .downmenu a{
                text-align:center;
                text-decoration: none;
                color: black;
                
                line-height: 40px;

        }
        .upmenu:hover .downmenu {
                opacity:1;
                visibility: visible;
                transform : translateY (0px);
                max-height:200px;
                


                
                }


        .downmenu a:hover{
                background-color:aqua;
                
                color:white;

                
        }

        .article{
            font-size: 16px;
            text-align: center;
            margin-top: 60px;
            margin-bottom: 60px;
            line-height: 35px;
            letter-spacing: 0.2px;
        }

        #list1{
            list-style: none;
            text-align: center;
            margin: 0px;
            background-color: #193B59;
            color: white;
            font-weight: 600;
            font-size: 15px;
            padding: 15px 0px;
        }

        #sub-title{
        display: block;
        text-align: center;
        font-size: 35px;
        font-weight: bolder;
        padding: 30px;
        background-color: #BACAC0;
        margin: 0px;
        color: #000000;
        }

        #uplist{
                font-family:auto;
                text-decoration:none;
                color: #ffffff;
                cursor: pointer;
                padding: 15px 0px;
        }

        #uplist:hover{
                color: #ffcc00;
                transition: color 300ms;

        }
        

        #img{
             display: block;
             margin: auto;
             margin-top: 40px;
             margin-bottom: 40px;
             width:720px;
             border: 3px solid gray;
        }
        
        #modebutton{
             position: fixed;
             right: 10px;
             bottom: 19px;
             top: 10px;
             display: inline-block;
             width: 50px;
             height: 30px;
             background-position: 270px 55px;
             background-repeat: no-repeat;
             vertical-align: top;
             cursor: pointer;
             z-index: 100;
             border: 2px solid #000000;
             background-color: #000000;
             color: #ffffff;
             transition-duration: 0.4s;
             border-radius: 10px;
        }

        #modebutton:hover
        {background-color: #136315;}
        
        


        
        .container {
        min-width: 700px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;
        }

        /* todo-form */

        .todo-form {
         margin: 40px 0px;
        }

        .todo-input {
          width: 250px;
          border: none;
          outline: none;
          border-radius: 5px;
          padding: 10px;
          margin-right: 10px;
          font-size: 1rem;
        }

        .add-button {
          background-color: #0000ff;
          color: #fff;
          border: none;
          outline: none;
          border-radius: 5px;
          padding: 7px;
          font-size: 1.2rem;
        }

        /* todo-form style ends */

        /* todo-items */
        .todo-items {
          min-width: 350px;
        }

        /* each li with class="item" */
        .item {
          background-color: #fff;
          padding: 10px;
          font-size: 1.1rem;
        }

        .item:first-child {
          border-top-left-radius: 7px;
          border-top-right-radius: 7px;
        }

        .item:last-child {
          border-bottom-left-radius: 7px;
          border-bottom-right-radius: 7px;
        }

        /* item style end */

        .checkbox {
          margin-right: 10px;
        }

        .delete-button {
          float: right;
          background-color: #dc143c;
          border: none;
          outline: none;
          border-radius: 7px;
          padding: 2px 5px;
          margin-left: 10px;
          font-size: 1.1rem;
          font-weight: 550;
        }

        /* applied when the todo item is checked */
        .checked { 
          text-decoration: line-through;
        }

        /* todo-items style ends */

        /* container style ends */