        @media (min-width: 480px) {
                    
        }
        @media (min-width: 768px) {    
    
        }
        @media (min-width: 1024px) {
            
        }

        #grid{
            display:grid;
            grid-template-columns: 1fr 1fr 1fr;
        }

        .article{
            font-size: 16px;
            text-align: center;
            margin-top: 60px;
            margin-bottom: 60px;
            line-height: 35px;
            letter-spacing: 0.2px;
        }

        #list1{
            list-style: none;
            text-align: center;
            padding: 15px;
            margin: 0px;
            background-color: #193B59;
            color: white;
            font-weight: 600;
            font-size: 15px;
        }

        #sub-title{
        display: block;
        text-align: center;
        font-size: 35px;
        font-weight: bolder;
        padding: 30px;
        background-color: #BACAC0;
        margin: 0px;
        color: #000000;
        }

        #uplist{
                font-family:auto;
                text-decoration:none;
                color: #ffffff;
                cursor: pointer;
        }

        #uplist:hover{
                color: #ffcc00;
        }
        

        #img{
             display: block;
             margin: auto;
             margin-top: 40px;
             margin-bottom: 40px;
             width:720px;
             border: 3px solid gray;
        }
        
        #modebutton{
             position: fixed;
             right: 10px;
             bottom: 19px;
             top: 10px;
             display: inline-block;
             width: 50px;
             height: 30px;
             background-position: 270px 55px;
             background-repeat: no-repeat;
             vertical-align: top;
             cursor: pointer;
             z-index: 100;
             border: 2px solid #000000;
             background-color: #000000;
             color: #ffffff;
             transition-duration: 0.4s;
             border-radius: 10px;
        }

        #modebutton:hover
        {background-color: #136315;}
        
        .donebtn{
                margin: 10px;
                width: 35px;
                height: 35px;
                font-size:20px;
                border-radius: 10px;
                transition-duration: 0.4s;
                cursor: pointer;
                background-color: green;
                
        }
        .donebtn:hover{
                margin: 10px;
                width: 35px;
                height: 35px;
        }
        
        .js-todoform{
                text-align: center;
        }
        .js-todolist{
                text-align: center;
                list-style: none;
                border: 5px solid darkslategrey;
                padding: 0px;
        }
        .deletebtn{
                height: 35px;
                width: 35px;
                font-size: 20px;
                background-color: #a51e37;
                cursor: pointer;
                transition-duration: 0.4s;
                border-radius: 10px;
        }
        .deletebtn:hover{
                background-color: red;
        }
        .btn_span{
                width: 300px;
                display: block;
                margin: auto;
                border-bottom: 2px solid #38ca26;
                padding-bottom: 10px;
                margin-top: 10px;
        }